<div class="container">
    <form method="post" enctype="multipart/form-data">
        <input type="file" class="u-full-width" id="photo" name="photo" />
        <div id="image-container">
            <img id="image" />
        </div>
        <button type="submit" class="button-primary">Enviar</button>
    </form>
</div>

<script>
    $('#photo').change(function (evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                var image = new Image();
                image.src = fr.result;
                image.onload = function () {
                    $("#image").attr("src", image.src);
                };
            }
            fr.readAsDataURL(files[0]);
        }
        else {
        }
    });
</script>